[Unit]
Description=Monitor VM Idle State
After=network.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/idle-shutdown.sh
StandardOutput=journal+console
StandardError=journal+console
